---
import '../styles/global.css';
import Layout from "../layouts/Layout.astro";
import BlogPost from '../components/BlogPost.astro';

const allPosts = Object.values(await import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "My Astro Learning Blog";

const identity = {
    firstName: "Alejo",
    country: "Argentina",
    occupation: "Software Engineer",
    hobbies: ["football", "technology", "videogames"],
};
---

<Layout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>

    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is {identity.firstName}.</li>
        <li>
            I live in {identity.country} and I work as a {identity.occupation}.
        </li>
        {
            identity.hobbies.length >= 2 && (
                <li>
                    Two of my hobbies are: {identity.hobbies[0]} and{" "}
                    {identity.hobbies[1]}
                </li>
            )
        }
    </ul>
</Layout>
